.character {
    margin-top: 10vh;
    width: 1280px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    background-color: #3C3E44;
    border-radius: 10px;
    /* background-color: red; */
}

.leftInfo {
    display: flex;
    flex-direction: column;

    width: 300px;
}

.rightInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 930px;
}