.character {
    margin-top: 10vh;
    width: 1280px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    /* background-color: #3C3E44; */
    border-radius: 10px;
    /* background-color: red; */
}

.leftInfo {
    display: flex;
    flex-direction: column;
    background-color: #3C3E44;
    width: 300px;
    border-radius: 10px;
}

.rightInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3C3E44;
    width: 950px;
    border-radius: 10px;
}
