.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 0px;
    font-size: 20px;
    background-color: #1a1c20f1;
    transition: .4s;
    font-weight: 300 !important;
    
}

.openMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25%;
    background-color: #1a1c20f5;
    /* background-color: rgba(12, 12, 12, 0.959); */
    font-size: 1.4rem; 
    font-weight: 500;
    transition: .4s;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.274), 0 3px 3px 0 rgba(0, 0, 0, 0.418) !important;
}

a {
    text-decoration: unset;
  }
.a { 
    display: flex;
    padding: 20px;
    align-items: center;
}
.a:hover {
    background-color: #24262cf5;
}