.catsBox {
  position: absolute;
  height: 3000px;
}
.cats {
  position: absolute;
  padding: 200px;
}
.cat {
  position: fixed;
  height: 200px;
  width: 200px;
  background-image: url("/src/images/background/cat.svg");
  background-size: 200px 200px;
}

/* @media (prefers-reduced-motion: no-preference) {
    .cat {
      animation: cat-spin infinite 7s linear;
    }
  }
  
  @keyframes cat-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */

.wrap {
  /* margin-top: 3%; */
  /* position: fixed; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  /* position: fixed; */
  width: 40%;
  height: 22%;
  /* flex-direction: column;  */
  justify-content: space-between;
  /* background-color: red; */
}

/* 
  @media (prefers-reduced-motion: no-preference) {
    .wrapper {
      animation: wrapper-spin infinite 8s linear;
    }
  }
  
  @keyframes wrapper-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }  */