.characters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.character {
    display: flex;
    background-color: #222327;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 40vw;
    border-radius: 10px;
}

.character img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 200px;
}

.info {
    display: flex;
    flex-direction: column;
}