.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.characters {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #D63D2E; */

}

.paginator {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    font-size: 1.2rem;
}

.results {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}
.character {
    display: flex;
    flex-direction: column;
    background-color: #3C3E44;
    margin-left: 20px;
    margin-top: 20px;
    height: 460px;
    width: 300px;
    border-radius: 10px;
}

.character img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 300px;
}

.info {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1rem;
}
.info .type {
    height: 45px;
}
.firstInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 95%;
    text-shadow: 0 0 6px #000, 0 0 6px #000;
    /* background-color: #D63D2E; */
}
.name {
    font-size: 1.5rem;
    font-weight: 800;
    transition: .1s;
}
.name:hover {
    color: rgb(255, 152, 0);
}

.status {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-weight: 600;
    /* text-shadow: 0 0 4px #000, 0 0 6px #000; */
    /* color: #42B4CA; */
}
.lastLoc {
    display: flex;
    flex-direction: column;
    height: 70px;

}
.textGray {
    margin-top: 10px;
    font-weight: 600;
    /* color: rgb(158, 158, 158); */
    color: #42b3ca;
}
.alivePoint {
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background-color: #55CC44;
    border-radius: 100%;
    box-shadow:  0 0 3px #000, 0 0 5px #000;
}

.deadPoint {
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background-color: #D63D2E;
    border-radius: 100%;
    box-shadow:  0 0 3px #000, 0 0 5px #000;
}

.unknownPoint {
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background-color: rgb(158, 158, 158);
    border-radius: 100%;
    box-shadow:  0 0 3px #000, 0 0 5px #000;
}