.preloader {
    padding-top: 200px;
}
.portal {
    display: flex;
    background-image: url("./../../../images/gif/portal.gif");
    background-size: 100% 100%;
    height: 400px;
    width: 420px;
}