.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 100%;
    font-size: 25px;
    font-weight: 800;
    background-color: #000b;
    backdrop-filter: blur(5px);
    background-size: 100vw 115vh;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 3, 0.274), 0 0px 0px 0px rgba(60, 64, 67, 0.308) !important;

}


.logo {
    padding-left: 100px;
    display: flex;
    align-items: center;
    width: 300px;
    height: 110px;
    text-decoration-color: unset;
    color: #282c34;
    transition: .2s;
}

.header .title {
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: .2s;
    height: 100%;
}

.header .logo a {
    display: flex;
    background-image: url('./../../images/icons/Rick_and_Morty.svg');
    margin-bottom: 0;
    font-size: 32px;
    transition: .2s;
    background-size: 100% 100%;
    height: 110px;
    width: 300px;
    transition: .2s;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 1000px;
    height: 100%;
    padding-right: 240px;
        margin-bottom: 40px;
}

.menu {
    display: flex;
    width: 600px;
    height: 100%;
    justify-content: space-between;
    align-items: end;
    transition: .2s;
}
.search{
    display: flex;
    align-items: center;
}
.search div{
    cursor: pointer;
    background-image: url('./../../images/icons/search.svg');
    width: 30px;
    height: 30px;
}
.search input {
    
    width:100px;
    height: 20px ;
    font-size: 16px;
    font-weight: 600; 
    border: none;
    transition: .2s;
} 

.search input:focus-visible {
    outline: none;
    border-bottom:1px solid white;
    width: 200px;
} 
.a {

    display: flex;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    border: none;
} 

.a:hover {
    transition: 0.3s;
    color: rgb(255, 152, 0);
}
