header {
    position: fixed;
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    font-size: 80px;
    font-weight: 800;
    transition: .2s;
    background-image: url("./../../images/icons/header.jpg");
    background-size: 100vw 115vh;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3), 0 0px 0px 0px rgb(60 64 67 / 15%) !important;
   
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 12%;
    font-size: 32px;
    font-weight: 800;
    transition: .2s;
    background-color: #fff;

}

.logo {
    margin-right: 2vw;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 45vh;
    text-decoration-color: unset;
    color: #282c34;

    transition: .2s;
}

.header .logo {
    margin-left: 1.5vw;
    margin-right: 3vw;
    padding-bottom: 0px;
    transition: .2s;
}


.title {
    padding-left: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 12vh;
    padding-right: 0px;
    transition: .2s;
    height: 45vh;
}

.header .title {
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: start;
    transition: .2s;


}

.logo a {
    display: flex;
    background-image: url('./../../images/icons/Rick_and_Morty.svg');
    background-size: 45vw 35vh;
    height: 35vh;
    width: 45vw;
    transition: .6s;
  }

.header .logo a {
    margin-left: 9vh;
    font-size: 32px;
    transition: .2s;
    background-size: 15vw 10vh;
    height: 10vh;
    width: 15vw;
    transition: .6s;
}


.button {
    filter: invert(1) opacity(.6) drop-shadow(0 0 0 #2bff00);
    margin-top: 30vh;
    cursor: pointer;
    height: 11vh;
    width: 5vw;
    background-image: url('./../../images/icons/menu.png');
    background-size: 5vw 11vh;
    background-clip: border-box;
    transform:rotate(-360deg);
    transition: .6s;
}

.header .button {
    height: 8vh;
    width: 3.5vw;
    background-image: url('./../../images/icons/menu.png');
    background-size: 3.5vw 8vh;
    margin-top: 0;
    transition: .2s;
}

.header .close_button {
    margin-top: 0;
}

.close_button {
    
    filter: invert(1) opacity(.6) drop-shadow(0 0 0 #2bff00);
    margin-top: 30vh;
    cursor: pointer;
    height: 11vh;
    width: 5vw;
    background-image: url('./../../images/icons/close_icon.png');
    background-size: 5vw 11vh;
    background-position: center;
    transition: .4s;
}

.header .close_button {
    height: 8vh;
    width: 3.5vw;
    transition: .2s;
    background-image: url('./../../images/icons/close_icon.png');
    background-size: 3.5vw 8vh;
    margin-top: 0;
}
