header {
    height: 100%;
    position: fixed;
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 300px;
    width: 100%;
    font-size: 80px;
    font-weight: 800;
    transition: .2s;
    background-image: url("./../../images/icons/header.jpg");
    background-size: 100% 700px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3), 0 0px 0px 0px rgb(60 64 67 / 15%) !important;
   
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    font-size: 32px;
    font-weight: 800;
    transition: .2s;
    background-color: #fff;

}

.logo {
    margin-left: 1%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration-color: unset;
    color: #282c34;
    padding-bottom: 20px;
    transition: .2s;
}

.header .logo {
    margin-right: 4%;
    padding-bottom: 0px;
    transition: .2s;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 0px;
    transition: .2s;
    height: 100%;
}

.header .title {
    padding-bottom:0px;
    width: 100%;
    display: flex;
    justify-content: start;
    transition: .2s;


}

.logo a {
    margin-left: 60px;
    display: flex;
    color: #000 ;
    background-image: url('./../../images/icons/Rick_and_Morty.svg');
    background-size: 600px 200px;
    height: 200px;
    width: 600px;
    transition: .6s;
  }

.header .logo a {
    margin-left: 60px;
    font-size: 32px;
    transition: .2s;
    background-size: 200px 60px;
    height: 60px;
    width: 200px;
}


.button {
    filter: invert(1) opacity(.6) drop-shadow(0 0 0 #2bff00);
    margin-top: 250px;
    cursor: pointer;
    height: 64px;
    width: 64px;
    background-image: url('./../../images/icons/menu.png');
    background-size: 64px 64px;
    background-clip: border-box;
    transform:rotate(-360deg);
    transition: .2s;
}

.header .button {
    height: 50px;
    width: 50px;
    background-image: url('./../../images/icons/menu.png');
    background-size: 50px 50px;
    margin-top: 0;
}

.header .close_button {
    margin-top: 0;
}

.close_button {
    
    filter: invert(1) opacity(.6) drop-shadow(0 0 0 #2bff00);
    margin-top: 250px;
    cursor: pointer;
    height: 64px;
    width: 64px;
    background-image: url('./../../images/icons/close_icon.png');
    background-size: 64px 64px;
    background-position: center;
    transition: .4s;
}

.header .close_button {
    height: 50px;
    width: 50px;
    transition: .2s;
    background-image: url('./../../images/icons/close_icon.png');
    background-size: 50px 50px;
    margin-top: 0;
}
