.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: end;
  margin-top: 12vh;
}

a {
  color: #fff;
  text-decoration: unset;
}
.App {
  padding-top: 50vh;
  /* background-color: red; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: red; */
}
* {
  color: #fff;
  font-family: "Verdana";
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 6vh;
  /* height: 12vh; */
}